{% extends "polls/base.html" %} {% block mainbody %}
<form action="{% url 'polls:vote' question.id %}" method="post">
  {% csrf_token %}
  <div class="d-flex flex-row justify-content-center mt-4">
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title text-center fw-bold">Poll {{question.id }}</h5>
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
          <strong>{{ error_message }}</strong>
        </div>
        {% endif %}
        <p class="card-text fw-bold">Question: {{ question.question_text }}</p>
        {% for choice in question.choice_set.all %}
        <div class="form-check mb-4">
          <input
            class="form-check-input"
            type="radio"
            name="choice"
            id="choice{{ forloop.counter }}"
            value="{{ choice.id }}"
          />
          <label class="form-check-label" for="choice{{ forloop.counter }}">
            {{ choice.choice_text }}
          </label>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">
          <i class="fa-solid fa-check"></i> &nbsp;Submit
        </button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
