{% extends "polls/base.html" %}
{% block mainbody %}
  {% if latest_question_list%} 
    {% for question in latest_question_list %}
      {% if forloop.counter0|divisibleby:"4" %}
        <div class="d-flex flex-row">
      {% endif %}
      <div class="p-2 m-2">
        <div class="card shadow-sm" style="width: 18rem">
          <div class="card-body pb-1">
            <p class="card-text fw-bold">{{question.question_text}}</p>
            <a
              href="{% url 'polls:detail' question.id %}"
              data-toggle="modal"
              data-target="#exampleModal"
              class="btn btn-success"
              ><i class="fa-solid fa-reply"></i> &nbsp; Answer</a
            >
            <a
              href="{% url 'polls:results' question.id %}"
              data-toggle="modal"
              data-target="#exampleModal"
              class="btn btn-warning"
              ><i class="fa-thin fa-square-poll-vertical"></i> &nbsp; Results</a
            >
            <hr />
            <p
              class="card-text mt-2 text-center"
              style="font-size: 0.7em; font-weight: bold"
            >
              Published: {{question.pub_date}}
            </p>
          </div>
        </div>
      </div>
      {% if forloop.counter0|add:"1"|divisibleby:"4" %}
        </div>
      {% elif forloop.counter == latest_question_list|length %}
        </div>
      {% endif %}
    {% endfor%}
  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6 mt-5">
          <div class="alert alert-warning" role="alert">Polls not found!!!</div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-8">      
      <nav aria-label="...">
        <ul id = 'pagination_block' class="pagination">
          <li class="page-item disabled">
        </ul>
      </nav>
      </div>
    </div>
  </div>
  <script>
      const attachNewNode = (parent, type, classes) => {
        const node = document.createElement(type);
        for(let i=0; i<classes.length; i++){
          node.classList.add(classes[i]);
        }
        parent.appendChild(node);
        return node;
      }

      const attachRedirectionNode = (parent, type, classes, text, paramsObj) => {
        const node = document.createElement(type);
        for(let i=0; i<classes.length; i++){
          node.classList.add(classes[i]);
        }
        
        const params = new URLSearchParams(paramsObj).toString();
        node.href = `{% url 'polls:index' %}?${params}`;
        node.tabIndex='-1';
        node.innerHTML=text;
        parent.appendChild(node);
        return node;
      }

      const getQueryParams = (paramsObj) => {
        const params = new Proxy(new URLSearchParams(window.location.search), {
          get: (searchParams, prop) => searchParams.get(prop),
        });

        const keys = Object.keys(paramsObj);
        for(let i=0; i<keys.length; i++) {
          paramsObj[keys[i]] = params[keys[i]];  
        }

        return paramsObj;
      }

      const buildQueryParams = (paramsObj, i) => {
        paramsObj['offset'] = i*10;
        paramsObj['limit'] = 10;
        return paramsObj; 
      }

      const preparePagination = ()=>{
        const total_count = JSON.parse('{{total_count}}');
        let paramsObj = getQueryParams({'offset': undefined, 'limit': undefined, 'search': undefined});
        const main = document.getElementById('pagination_block');
      
        if(paramsObj['offset'] === null) {
          paramsObj['offset'] = 0;
        }
        
        paramsObj['limit'] = 10;
        let newParamsObj = {...paramsObj, offset: 0};
        for(let i=0; i<Math.floor(total_count/10); i++){
          let classesList = ['page-item'];
          if(i*10 == paramsObj['offset']){
            classesList.push('active');
          }
          const child = attachNewNode(main, 'li', classesList);
          attachRedirectionNode(child, 'a', ['page-link'], ""+(i+1), newParamsObj);
          newParamsObj = buildQueryParams(newParamsObj, i + 1);
        }
        
      }

      window.onload = preparePagination
  </script>
{% endblock %}
